body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.post {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.post-img {
    width: 100%;
    margin-top: 10px;
}

.navbar {
    background: #333;
    padding: 10px;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 20px;
}
